<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<title><%= title %></title>
</head>
<body>
	<h1><%= title %></h1>
	<p>あなたのアカウントの下に写真をアップロードしてください</p>
	<form method='post' enctype='multipart/form-data'>
		
		<p><input type='text', name='photo[name]', placeholder='Name'></p>
		<p><input type='file', name='image'></p>
		<p><input type='submit', value='アップロードしてください'></p>
		
	</form>
</body>
</html>